body {
    background-color: #f8f9fa;
    color: #333;
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
}

.card-title {
    color: #ff6600;
}

.card-body {
    padding: 1.25rem;
}

.pagination {
    justify-content: center;
}

.btn {
    margin-top: 10px;
}

.form-label {
    font-weight: bold;
}

.container {
    margin-top: 50px;
}

.navbar {
    background-color: #ff6600;
}

.navbar a {
    color: #fff !important;
}

.navbar a:hover {
    color: #f8f9fa !important;
}
.scroll-container {
    max-height: 500px; /* Altura máxima, ajuste conforme necessário */
    overflow-y: auto;  /* Exibe a barra de rolagem vertical quando necessário */
    margin-top: 20px;
}

/* Estilo para o menu lateral */
.bg-light {
    background-color: #f8f9fa !important;
}

.nav-link {
    color: #f76c30;  /* Laranja */
    border-radius: 5px;  /* Bordas arredondadas */
    padding: 10px;
    margin-bottom: 5px;
    transition: all 0.3s ease;  /* Transição suave */
}

/* Estilo quando o item está em hover */
.nav-link:hover {
    background-color: #f48c2f;  /* Laranja escuro */
    color: white;
}

/* Estilo para o item ativo */
.nav-link.active, .nav-link:focus {
    background-color: #e77b1f;  /* Tom mais escuro de laranja para o item ativo */
    font-weight: bold;
    color: white;
}

/* Estilo quando o menu está colapsado */
.nav-item {
    margin: 5px 0;
}
.btn-laranja {
    background-color: #f76c30;  /* Laranja */
    color: white;
    border: none;
}

.btn-laranja:hover {
    background-color: #e77b1f;  /* Tom mais escuro de laranja para hover */
    color: white;
}
.menu-lateral {
    margin-top: 30px; /* Ajuste o valor para mover o menu mais para baixo */
    height: 100vh;
    width: 250px;
}
